In [1]:
# System path setup
import os
import sys

print('Project root location in: \n' + os.path.abspath('')[:-9])

data_filepath = os.path.abspath('')[:-9] + '/data/'
sys.path.insert(0, os.path.abspath('')[:-9] + '/modules/')

Project root location in:
/home/leonardo/Documents/udacity_projects/data_science_capstone_project/

In [2]:
# Importing libraries for Data Handling and EDA
import pandas as pd
import numpy as np
import scipy
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from apriori_python import apriori

# Plotting libraries
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Modules created based on the EDA and ETL steps
from modelling_support import prioritize_and_drop_redundant_columns
from modelling_support import above_median_metric

# Libraries for Data Mining
from sklearn.model_selection import train_test_split

In [3]:
# Reading data and joining a dataset with the assayed parameters
amenities = pd.read_csv(data_filepath + 'amenities_post_etl.csv', index_col = 0)
listings = pd.read_csv(data_filepath + 'listings_post_etl.csv', index_col = 0)

filtered_amenities = prioritize_and_drop_redundant_columns(amenities, 0.8, 40)

df = listings.join(filtered_amenities)
df = above_median_metric(df)
df.dropna(inplace = True)

df.head()

,id,host_id,host_response_time,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,accommodates,bedrooms,beds,...,amn_linen,amn_microwave,amn_stove,amn_hair,amn_coffee,amn_oven,amn_standard,amn_fire,amn_blanket,above_median
0,17878,68997,1.0,1.0,0,1,1,5,2.0,2.0,...,1,1,1,1,1,1,1,0,0,1
1,24480,99249,4.0,1.0,0,1,1,2,1.0,1.0,...,1,1,0,1,1,0,1,0,1,1
2,25026,102840,3.0,0.8,0,1,1,3,1.0,1.0,...,1,1,1,1,1,1,1,0,0,1
3,35636,153232,1.0,1.0,1,1,1,2,1.0,1.0,...,1,1,1,1,1,1,1,0,0,1
4,35764,153691,1.0,1.0,1,1,1,2,1.0,1.0,...,1,1,1,1,1,0,1,1,1,1

In [4]:
# Listing the input columns to filter the DataFrame
input_columns = []

for column in df.columns:
    if column != 'above_median':
        input_columns.append(column)
        
# Retrieving the dataset values as np.arrays to process the data on sklearn
X = df[input_columns].values
y = df['above_median'].values

# Splitting the dataset in train and test datasets
X_train, X_test, y_train, t_test = train_test_split(X, y,
                                                    test_size = 0.3,
                                                    train_size = 0.7,
                                                    random_state = 123
                                                   )