In [1]:
# System path setup
import os
import sys

print('Project root location in: \n' + os.path.abspath('')[:-9])

data_filepath = os.path.abspath('')[:-9] + '/data/'
sys.path.insert(0, os.path.abspath('')[:-9] + '/modules/')

Project root location in:
/Users/leonardoyamaguishi/Documents/Udacity/data_science_capstone_project/

In [2]:
# Importing libraries for Data Handling and EDA
import pandas as pd
import numpy as np
import scipy
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from apriori_python import apriori

# Plotting liberaries
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
# Reading data
amenities = pd.read_csv(data_filepath + 'amenities_post_etl.csv', index_col = 0)
listings = pd.read_csv(data_filepath + 'listings_post_etl.csv', index_col = 0)

In [4]:
# Counting the nan values per row 
listings_nan_count = listings.isna().sum(axis = 1)

# Obtaining the rows with nan values
listings_nan_rows = listings_nan_count[listings_nan_count > 0].index

# Dropping the correspondent rows
amenities.drop(listings_nan_rows, axis = 0, inplace = True)
listings.drop(listings_nan_rows, axis = 0, inplace = True)

In [5]:
amenities.join(listings)

,amn_10,amn_10g,amn_10l,amn_10ml,amn_110v,amn_120l,amn_124,amn_14,amn_15,amn_17,...,shared_bathroom,walking_dist_stations,walking_dist_stations_scores,neighbourhood,per_capita_income_2000,longevity_index,education_index,income_index,human_development_index,neighbourhood_key
0,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,copacabana,1623.415521,0.879608,0.989888,1.000000,0.956499,11
1,0,0,0,0,0,0,0,0,0,0,...,0,general_osorio,4.1,ipanema,2465.445144,0.894594,0.991860,1.000000,0.962151,3
2,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,copacabana,1623.415521,0.879608,0.989888,1.000000,0.956499,11
3,0,0,0,0,0,0,0,0,0,0,...,0,general_osorio,4.1,ipanema,2465.445144,0.894594,0.991860,1.000000,0.962151,3
4,0,0,0,0,0,0,0,0,0,0,...,0,general_osorio,4.1,copacabana,1623.415521,0.879608,0.989888,1.000000,0.956499,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24286,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,ipanema,2465.445144,0.894594,0.991860,1.000000,0.962151,3
24292,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,copacabana,1623.415521,0.879608,0.989888,1.000000,0.956499,11
24350,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,glória,1183.277912,0.872856,0.993714,0.953946,0.940172,16
24499,0,0,0,0,0,0,0,0,0,0,...,1,NONE,-1.0,tijuca,1204.606619,0.834013,0.986768,0.956928,0.925903,19
24545,0,0,0,0,0,0,0,0,0,0,...,0,NONE,-1.0,flamengo,1781.713914,0.881842,0.995222,1.000000,0.959021,5

In [6]:
from apriori_module import count_tokens
from apriori_module import list_relevant_columns
from apriori_module import ratio_of_true_values
from apriori_module import evaluate_apriori_sets